html, body, .container, .container-fluid, .col-sm-9, div#map-container {
   height: 100%!important;
}

.row{
   position: absolute;
   top: 70px;
   bottom: 0;
   width: 100%!important;
}

#map-container {
  position: relative; 
}

#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin-top: -33px;  
  margin-left: -33px; 
}

#plot.recalculating {
  z-index: -2;
}